/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background: #f0f0f0; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.btn-blue,
.btn-blue:hover {
    color: #fff;
    background-color: #101662;
    border-color: #101662;
  }